<section class="contact container" id="contacto">
  <div class="thin-container">
    <h3 class="main-title">Contacto</h3>

    <div class="contact__text">
      ¿Dudas? ¿Sugerencias? Para cualquier cosa, puedes contactar con nosotros
      en redes sociales. También puedes enviarnos un correo a la siguiente
      dirección:
      <a class="text-cyan-400" href="mailto:nbnucleob@gmail.com"
        >nbnucleob@gmail.com</a
      >

      Responderemos lo antes posible. Muchas gracias.

      <div class="social flex w- gap-5 mt-10">
        <a href="https://www.facebook.com/markfeeloficial" class="text-white"
          ><i class="fab fa-facebook"></i></a
        >
        <a href="https://www.instagram.com/markfeel.es" class="text-white"
          ><i class="fab fa-instagram"></i></a
        >
        <a href="https://www.tiktok.com/@markfeeloficial" class="text-white"
          ><i class="fab fa-tiktok"></i></a
        >
        <a
          href="https://open.spotify.com/artist/4TDYVl7E031fFPwYoVP0TL"
          class="text-white"><i class="fab fa-spotify"></i></a
        >
        <a href="https://www.youtube.com/markfeel" class="text-white"
          ><i class="fab fa-youtube"></i></a
        >
      </div>
    </div>
  </div>
</section>

<style>
  .contact {
    padding-top: 120px;
    padding-bottom: 150px;
    margin: 0 auto;
  }

  .contact__text {
    font-size: 22px;
    line-height: 170%;
    color: white;
    font-weight: 300;
  }

  @media (max-width: 768px) {
    .contact {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .contact__text {
      font-size: 18px;
    }
  }
</style>
