<section class="reference pb-40">
  <div class="container">
    <div class="thin-container">
      <div class="text-white italic text-xl reference__text">
        Sensibilidad, actitud y personalidad. Con estos ingredientes, el primer
        disco de estudio de Markfeel solo podía ser un éxito. El cantante y
        compositor imprime un sentimiento brutal a cada uno de los diez temas
        que forman este sorprendente álbum. Este músico con alma de poeta no
        duda en dejarse la piel en todas sus composiciones, que cobran vida en
        su preciosa voz, acompañada en ‘Basura por Madrid‘ por Vito Íñiguez, de
        Sínkope, en la maravillosa ‘Juego de tontos‘ por su inseparable Alba
        Lorez y en la emotiva ‘Fin de semana‘ por María Sotelo, que se hace
        presente con un bello poema recitado con mucha delicadeza. A destacar
        también ‘Si te oigo gritar‘, ‘Compartiendo veneno‘ o ‘Nada mejor‘.
        Difícil quedarse con una en este gran conjunto de canciones a las que
        Markfeel pone la guinda con ese halo tan íntimo y esa capacidad suya de
        transmitir, manteniendo siempre una base rockera. Un gran descubrimiento
        que dará mucho que hablar. (95/100)
      </div>
      <div class="text-white mt-10 float-right">
        Lucía Jiménez, Revista Rock Estatal nº 38.
      </div>
    </div>
  </div>
</section>

<style>
  .reference {
    background-color: black;
    padding-top: 150px;
  }

  .reference__text {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .container {
    margin: 0 auto;
    padding-bottom: 140px;
    font-weight: 100;
  }
</style>
